body {  
    background-color: #f0f5f3;  
    margin: 20%;  
}  
#title {  
    text-align: center;  
    text-shadow: 5px 5px 10px white;  
    font-size: 8vh;  
}  
img {  
    display: inline-block;  
    width: 40%;  
    margin-left: auto;
    margin-right: auto;
}
#caption {  
    font-size: 19px;  
    font-family:sans-serif;  
    color: black;  
}   